$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px,
) !default;
@import "~bootstrap/scss/bootstrap-grid.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1440px;
  height: 81px;
  offset: 166px;
}
.header-logo {
  width: 187px;
  height: 40px;
  left: 166px;
  top: 22px;
}
.menu {
  display: flex;
  align-items: center;

  a {
    padding: 10px;
    text-decoration: none;
    color: #000;
  }
  .search-icon {
    margin-left: 10px;
    img {
      width: 21px;
    }
  }
}
#login-btn {
  padding: 10px 30px;
  background-color: #fff;
  width: 103px;
  height: 48px;
  border-color: #141414;
}
