$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px,
) !default;
@import "~bootstrap/scss/bootstrap-grid.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1440px;
  height: 81px;
  offset: 166px;
}
.header-logo {
  width: 187px;
  height: 40px;
  left: 166px;
  top: 22px;
}
.menu {
  display: flex;
  align-items: center;

  a {
    padding: 10px;
    text-decoration: none;
    color: #000;
  }
  .search-icon {
    margin-left: 10px;
    img {
      width: 21px;
    }
  }
}
#login-btn {
  padding: 10px 30px;
  background-color: #fff;
  width: 103px;
  height: 48px;
  border-color: #141414;
}

.footer-container {
  background-color: #141414;
  color: #ffffff;
  font-size: 12px;
  display: flex;
  width: 1440px;
  height: 81px;

  a {
    padding: 30px 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
  }
}

.hero-content {
  text-align: center;
  h1 {
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto-Bold";
    font-size: 72px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
    line-height: 72px;
  }
  p {
    color: rgba(255, 255, 255, 1);
    font-family: "OpenSans";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
    line-height: 24px;
  }
}

.hero {
  background-image: url("/assets/images/2cbdc7b29b8b729db1b0ad933d96d3cbc1f83268.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
